#footer {
  .navbar {
    background-color: $color-white;
    .container {
      padding: 2.5rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1020px) {
        justify-content: center;
        flex-direction: column;
      }
    }
    .footer-nav {
      @media screen and (max-width: 1020px) {
        margin-bottom: 1.5rem;
      }
      .navbar-nav {
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 870px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .navbar-item {
          color: $color-grey-dark-3;
          display: inline-block;
          padding: 0 2rem;
          text-decoration: none;
          border-right: 2px solid $color-tertiary;
          transition: all 0.2s ease-in;
          @media screen and (max-width: 870px) {
            margin-bottom: 1rem;
            border-right: none;
            border-bottom: 2px solid $color-tertiary;
          }
          &__active {
            color: $color-tertiary-dark;
          }
          &:hover {
            color: $color-tertiary-dark;
          }
        }
      }
    }
    .footer-cta {
      a {
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1px;
        color: $color-grey-dark-3;
      }
    }
  }
}
